---
console.log('Hola mundo')
const name = 'alan'
---
<div id="container">
	<main>
		<h1 class="title tPre1">Join the ultimate tech book club</h1>	
	</main>

	
</div>
<style>
	.title{
    background-image: linear-gradient(var(--TextGradient));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
		-moz-text-fill-color: transparent;
		max-width: 14ch;		
	}
</style>
