---
console.log('Hola mundo')
const name = 'alan'
---
<div id="container">
	<main>
		<h1 class="title tPre1">Hola mundo</h1>	
	</main>

	
</div>
<style>
	.title{
		color: var(--TextGradient);
	}
</style>
