---
import '@fontsource-variable/martian-mono'
import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Techbook</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
:root{
		--Neutral900: hsl(194, 78%, 11%);
		--Neutral700: hsl(195, 23%, 28%);
		--Neutral200: hsl(17, 12%, 89%);	
		--Neutral100: hsl(17, 41%, 97%);
		--Neutral0: hsl(0, 0%, 100%);

		--LightSalmon500: hsl(22, 99%, 72%);
		--LightSalmon100: hsl(22, 100%, 91%);
		--LightSalmon50: hsl(23, 100%, 97%);

		--TextGradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%); 
		--BgGradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%); 
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
 	 	font-family: 'Martian Mono Variable', monospace;
	}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
}
	
	html {
		font-size: 62.5%;
	}

	.tPre1{
 	 	font-family: 'Martian Mono Variable', monospace;
		font-size: 6.2rem;
		line-height: 120%;
		letter-spacing: -2px;
		font-weight: bold;
	}
	.tPre1Mob{
 	 	font-family: 'Martian Mono Variable', monospace;
		font-size: 3.8rem;
		line-height: 120%;
		letter-spacing: -2px;
		font-weight: bold;
	}
	.tPre2{
 	 	font-family: 'Martian Mono Variable', monospace;
		font-size: 5.0rem;
		line-height: 130%;
		letter-spacing: -2px;
		font-weight: 500;
	}
	.tPre2Mob{
 	 	font-family: 'Martian Mono Variable', monospace;
		font-size: 3.4rem;
		line-height: 130%;
		letter-spacing: -2px;
		font-weight: 500;
	}
	.tPre3{
		font-family: 'Martian Mono Variable', monospace;
		font-size: 3.4rem;
		line-height: 130%;
		letter-spacing: -1px;
		font-weight: 500;
	}
	.tPre3Mob{
		font-family: 'Martian Mono Variable', monospace;
		font-size: 2.4rem;
		line-height: 110%;
		letter-spacing: -1px;
		font-weight: 500;
	}
	.tPre4{
		font-family: 'Martian Mono Variable', monospace;
		font-size: 2.4rem;
		line-height: 110%;
		letter-spacing: -1px;
		font-weight: 500;
	}
	.tPre4Reg{
		font-family: 'Martian Mono Variable', monospace;
		font-size: 2.4rem;
		line-height: 110%;
		letter-spacing: -1px;
	}
	.tPre5Reg{
		font-family: 'Inter Variable', sans-serif;
		font-size: 2.0rem;
		line-height: 140%;
		letter-spacing: -0.5px;

	}
	.tPre5Semi{
		font-family: 'Inter Variable', sans-serif;
		font-size: 2.0rem;
		line-height: 140%;
		letter-spacing: -0.5px;
		font-weight: 500;
	}
	.tPre6{
		font-family: 'Martian Mono Variable', monospace;
		font-size: 1.8rem;
		line-height: 130%;
		letter-spacing: -1px;
		font-weight: 500;
	}
	.tPre6Mob{
		font-family: 'Martian Mono Variable', monospace;
		font-size: 1.6rem;
		line-height: 130%;
		letter-spacing: -1px;
		font-weight: 500;
	}
	.tPre7{
		font-family: 'Martian Mono Variable', monospace;
		font-size: 1.4rem;
		line-height: 120%;
		letter-spacing: -1px;
	}
</style>
